.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-weather {
  display: flex;
  justify-content: space-around;
}

.centered {
  text-align: center;
  margin-top: 150px;
}
